@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.introduction{
    background: url(images/header-bg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.content{
    max-width: 72.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.left{
    width: 48%;
    margin-left: 2%;
}
h1{
    font-weight: 400;
    margin-bottom: 1em;
}
.name{
    color: #ec4c7a;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.5em;
}
.description{
    opacity: .6;
    font-size: 14px;
    margin-bottom: 2em;
}
.btn{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, #ec4f91, #ec4b74);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
}
.right{
    width: 48%;
}
.content img{
    width: 100%;
}
/* Biography */
.biography{
    background: url(images/biography-bg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.biography img{
    width: 90%;
}
.biography .right{
    margin-left: 20px;
}
.biography .btn{
    text-transform: none;
}
/* Latest work */
.latestWork{
    background: url(images/latest-work-bg.png);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.latestWork .content, .clintReview .content{
    flex-direction: column;
}
.latestWork h1, .clintReview h1{
    text-align: center;
    margin-bottom: 3em;
}
.latestWork img{
    width: 30%;
}
.latestWork img:nth-child(2){
    margin: 0px 4%;
}
/* Client review */
.clintReview{
    text-align: center;
    background: url(images/footer-bg.png);
    background-position: center;
    background-size: cover;
}
.clientDescription{
    opacity: .6;
    font-size: 12px;
    margin: 5px auto 20px auto;
}
.review{
    margin: 10px auto 50px auto;
}
.clintReview .btn{
    text-transform: none;
    padding: 30px 100px;
    margin-bottom: 100px;
    font-size: 1em;
}
.msg{
    font-size: 12px;
}
.footerText{
    opacity: .6;
    font-size: 12px;
    margin: 50px auto;
    text-align: center;
}